html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 243, 245);
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  background-color: #001f3f;
  margin: 0;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #74bfff;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  margin: 2.4rem 0 1.5rem 0;
  padding-left: 70px;
}

.middle {
  display: flex;
  height: 100%;
}

main {
  display: flex;
  gap: 60px;
  width: 100%;
  margin-bottom: auto;
}

.sidebar {
  width: 150px;
  background-color: #10385f;
  border-right: #74bfff solid 3px;
}

.form-box {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  min-height: 400px;
  margin: 40px 40px 0 40px;
  padding: 0 10px 0 25px;
  border: solid 1px #aaa;
}

.description p {
  text-align: left;
}

.input {
  padding: 1em;
}

.submit {
  padding: 1em;
  position: relative;
}

.timer-box {
  position: relative;
  margin-top: 20px;
  max-width: 600px;
}

#timers {
  list-style-type: none;
}

#timers li {
  display: flex;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 15px;
  /* margin-top: auto; */
  border-top: #74bfff 2px solid;
}
