html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 243, 245);
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  background-color: #001f3f;
  margin: 0;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #74bfff;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  margin: 2.4rem 0 1.5rem 0;
  padding-left: 70px;
}

.middle {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 150px;
  background-color: #10385f;
  border-right: #74bfff solid 3px;
}

main {
  display: flex;
  width: 100%;
  margin-bottom: auto;
}

.left-content_MAIN {
  max-width: 500px;
  min-height: 400px;
  margin: 40px 40px 0 auto;
}

.right-content_MAIN {
  position: relative;
  margin: 20px auto 0 0;
  width: 600px;
}

.description {
  padding: 0 0 20px 20px;
}

.instruction {
  font-style: italic;
}

.form-box {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  min-height: 250px;
  padding: 0;
  border: solid 1px #aaa;
}

.form-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  justify-content: space-between;
  width: 450px;
  padding: 16px;
}

.input :nth-child(1) {
  padding-right: 45px;
}

.input input {
  width: 250px;
}

.submit {
  position: relative;
  padding-top: 10px;
}

.submit input {
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  border: solid black 1.5px;
  background-color: rgba(223, 121, 121, 0.616);
  padding: 7px 14px;
}

.submit input:hover {
  transform: scale(1.1);
}

#timers {
  list-style-type: none;
}

#timers li {
  display: flex;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 15px;
  color: #001f3f;
  background-color: lightblue;
  border-top: #74bfff 2px solid;
}
